doctype html
html
	head
		title Announcements
	
	body
		h1 Announcements
		
		if posts.length === 0
			p No announcements to show...
		else
			ul
				each post in posts
					li
						a(href='/posts/#{post.id}')=post.headline
